.cartItemInner {
    margin-bottom: 100px;
}

.footerCart {
    color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.footerCartInner {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}